{{>partials/header}}
<h1> Title</h1>
    
    <p>
    
    Opa, {{name}} {{lastName}} seja Bem vindo!

    {{#showAge}}
     Voce é maior de idade
     {{/showAge}}

     Produtos
     <ul>
     {{#produtos}}
     <li>{{titulo}} - R$ {{preco}} </li>
    {{/produtos}}
    
    </ul>
    </p>
{{>partials/footer}}