{{>partials/header}}


    <form method="POST">

    <input type="text" name="usuario" placeholder="Digite o seu login"/><br>
    <input type="password" name="password" placeholder="Digite sua senha"/><br>
   

    <input type="submit" value="Enviar"/><br>

    </form>






 {{>partials/footer}}